import * as React from 'react';
{{#bundles}}
import {{name}} from '{{{path}}}';
{{/bundles}}
{{#css}}
import '{{{.}}}';
{{/css}}

const subApps = [
  {{#bundles}}
  {{name}},
  {{/bundles}}
];

export default subApps;